<template id="index-component-template">
	<link rel="stylesheet" href="../components/IndexComponent.css">
	<div class="index-body">
		<search-bar></search-bar>
		<div class="cards-wrapper">
			<div class="cards-container">
				<cards-tile id="cards-tile-component"></cards-tile>
			</div>
		</div>
	</div>
</template>
<link rel="import" href="/components/elements/cards-tile/cards-tile.html">
<link rel="import" href="/components/elements/search-bar/search-bar.html">
<script src="/components/IndexComponent.js"></script>